@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --color-button: #fff;
  --color-button-dark: #3b4d66;
  --color-image: #fff1e9;
  --color-access-light: #f6e7ff;
  --color-range-input: #3b4d66;
  --color-options: #f4f6fa;
  --color-submit: #a729f5;
  --color-options-incorrect: #ee5454;
  --color-options-correct: #26d782;

  --shadow-button-light: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  --shadow-button-dark: 0px 16px 40px 0px rgba(49, 62, 81, 0.14);

  --breakpoint-mb: 375px;
  --breakpoint-tb: 768px;
  --breakpoint-dk: 1440px;
}

body {
  font-family: "Rubik", sans-serif;
  background-image: url(/public/assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  background-color: #f4f6fa;
}

body.dark {
  background-color: #313e51;
  background-image: url(/public//assets/images/pattern-background-mobile-dark.svg);
  background-repeat: no-repeat;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a729f5;
  transition: 0.4s;
  border-radius: 50px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #a729f5;
}

input:checked + .slider::before {
  transform: translateX(12px);
}

.range-input {
  -webkit-appearance: none;
  width: 319px;
  height: 8px;
  background: #e0e0e0;
  border-radius: 999px;
  position: relative;
  overflow: hidden;
}

body.dark .range-input {
  background: #3b4d66;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #a729f5;
  border: 4px solid #a729f5;
}

.progress-line::before {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #a729f5;
}

@media screen and (min-width: 768px) {
  .range-input {
    width: 640px;
  }
}
